@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;
<div>
<h1>Cuisines</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisines have been added yet!</h3>
} 

<ul>
  @foreach(Cuisine cuisine in Model)
  {
    <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
  }
</ul>
</div>

<ul class="navbar">
<li class="navbar">@Html.ActionLink("Add Cuisine", "Create")</li>
<li class="navbar">@Html.ActionLink("Add Restaurant", "Create", "Restaurants")</li>
<li class="navbar">@Html.ActionLink("Home", "Index", "Home")</li>
<li class="navbar">@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
<li class="navbar">@Html.ActionLink("Cuisine", "Index", "Cuisines")</li>
</ul>